
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(
    circle at top,
    #0f172a 0%,
    #020617 45%,
    #000000 100%,
    );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  .prose {
  max-width: 75ch;
}

.prose h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.prose p {
  margin-top: 1rem;
  line-height: 1.7;
}

}
